<div class="container">

    <div class="grid grid-cols-12 gap-3">

        <div class="w-[3rem] h-[3rem]">

            <img class="w-full h-full rounded-full"
                src="https://s.yimg.com/fz/api/res/1.2/lNaFAtBnF8M3YJvuYTEWjg--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpbGw7aD0yMjg7cHhvZmY9MDtweW9mZj0wO3E9ODA7dz00MDA-/https://s.yimg.com/am/60d/a0903a0ecabde9c4e6840cecbb4aa01b"
                alt="">
        </div>

        <div class="col-span-6 lg:col-span-9">
            <div class="space-y-3">
                <div>
                    <p class="font-semibold text-lg">
                        ujjawal
                    </p>
                    <p class="opacity-70">
                        April 22, 2024
                    </p>

                </div>

                <div>
                    <app-star-rating></app-star-rating>
                </div>
                <p class="">nice product, ilike this</p>
            </div>
        </div>
    </div>

</div>