<div   class="box cursor-pointer" (click)="navigateToOrderDetails(6)">

    <div class="grid grid-cols-6">

        <div class="col-span-3 flex items-center w-full">
            <img class="w-[5rem] h-[5rem] object-cover object-top" src="https://rukminim1.flixcart.com/image/612/612/xif0q/jean/1/4/v/-original-imaggjcyhzz4myqh.jpeg?q=70" alt="">

            <div class="ml-5">
                <p class="font-semibold text-lg">product title</p>
                <p class="">Size : M</p>
                <p class="">Color : Blue</p>
            </div>

        </div>
        <div class="col-span-1">
            <p class="font-semibold text-lg">₹393</p>
            
        </div>

        <div class="col-span-2">
            <p class="font-semibold">Excpected Delivery By 10 May</p>
            <p class="text-sm">Your Item Has Been Delivered</p>
        </div>
    </div>
</div>